* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html, body {
    min-height: 100%;
    min-width: 100%;
}

body {
    background-image: linear-gradient(90deg, rgba(32, 4, 12, 1) 0%, rgba(173, 30, 75, 1) 100%);
}

.container {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 0 20px
}

.logo {
    width: 350px;
}

.alignlogo {
    text-align: center;
    margin-top: 40px;
}

.Contato {
    color: whitesmoke;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-top: 50px
}

.list-itens {
    list-style: none;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    padding: 20px;
    margin: 50px 0 20px 0;
    align-items: center;
}

.list-itens h3 {
    color: whitesmoke;
    margin-bottom: 5px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    text-shadow: 0 0 5px black;
}

.list-itens p {
    color: whitesmoke;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.list-itens li a {
    text-decoration: none;
}

.list-itens li {
    background-color: rgba(110, 44, 67, 0.2);
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px black;
    transition: .3s ease-in;
    padding: 20px;
}

.list-itens li:hover {
    background-color: rgba(245, 245, 245, 0.2);
    transition: .3s ease-out
}